body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8c1f7f;
  background-color: #00847b;
  background-image: linear-gradient(to bottom left, #8c1f7f, #00847b);
  color: #f3dddd;
  font-size: 22px;
  letter-spacing: 0.8px;
  line-height: 1.5;
  min-height: 100vh;

}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
h1 {
  font-weight: 300;
}
h2 {
  font-weight: 150;
}
img {
  border-radius: 26px;
}

.weather-conatiner{
  margin: 2rem 5rem;
}

.current-info{
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #5dafc5d6, transparent);
  padding:1px 0px 1px 50px;
}

.current-temp{
  display: flex;
  gap: 5rem
}

.current-temp img{
  border-radius: 50%;
}

.hourly-weather{
  display: flex;
  gap: 3rem;
}

.hourly-weather img{
  border-radius: 50%;
}

.predicted-weather{
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
  row-gap:4rem;
}

.time-wise{
  background-image: linear-gradient(268deg, #000000a8, #9d040400);
}

.sign-in-conatiner{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:2px solid transparent;
  box-shadow: 0px 0px 11px 3px #b2adefd1;
  gap:1rem;
  padding: 3rem 8rem;
  background-color: #fff;
  color: black;
  width: 20vw;
}

input[type="email"], input[type="password"]{
  width: 90%;
  height: 2rem;
  border-radius: 20px;
  margin-bottom: 12px;
  text-align: center;
}

input[type="email"]:focus, input[type="password"]:focus{
  border:   blue;
  box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
}    

button{
  border: none;
  width: 6rem;
  height: 40px;
  background-color: #ff2eff82;
  cursor: pointer;

}

button:hover{
  background-color: #ce0ece82;
}

.sign-up-link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}    

.error-class{
  border: 2px solid #ff00009e;
  box-shadow: 0px 0px 4px 0px #ff000061;

}

.error-msg{
  font-size: 15px;
  margin-bottom: 0px;
  color: red;
  margin-top: -10px;
}

label{
  font-size: 18px;
  /* display: block; */
  /* text-align: center; */
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-auto{
  margin-left: auto;
}

.sign-up-elements{
  display: flex;
  flex-direction: column;
}